@use "breakpoints";
@use "mixins";
.container {
    user-select: none;
    z-index: 999;
    background: var(--darkGray);
    display: flex;
    overflow-y: scroll;
    @include mixins.hideScrollbar;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100%;
    @media screen and (max-width: breakpoints.$laptop) {
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
        overflow-y: scroll;
        transform: translateX(100%);
        transition: transform ease-in-out 250ms;
        background: var(--darkGray);
    }
}

.imageContainer {
    --image-width: 10rem;
    width: var(--image-width);
    height: var(--image-width);
    min-height: var(--image-width);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: var(--white);
    overflow: hidden;
    border: 2px solid var(--white);

    margin-top: 5rem;
    margin-bottom: 2rem;

    img {
        width: 8rem;
    }
}

.moreInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        color: var(--white);
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        color: var(--gray);
        font-size: 1em;
        margin-bottom: 0.5rem;
    }

    .socials {
        display: flex;
        margin-top: 0.8rem;
        gap: 5px;

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            border-radius: 50%;
            transition: all ease-in-out 0.3s;

            &:hover {
                background: var(--gray);
            }

            svg {
                color: var(--white);
                font-size: 18px;
            }
        }
    }

    .button {
        margin-top: 2rem;
        padding: 0.5rem 1.2rem;
        border: 2px solid whitesmoke;
        border-radius: 50px;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.247);
        text-decoration: none;
        margin-bottom: 3rem;

        &:hover {
            background: whitesmoke;
        }

        &:hover span {
            color: rgb(5, 176, 219);
        }

        span {
            transition: all ease-in-out 0.3s;
            color: whitesmoke;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.copyright {
    margin-top: auto;
    margin-bottom: 1rem;
    text-align: center;
    span {
        font-size: 0.7rem;
        color: rgb(173, 173, 173);
    }
}

//MOBILE
.burgerContainer {
    display: none;
    @media screen and (max-width: breakpoints.$laptop) {
        display: flex;
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 0.6rem;
        border-radius: 50%;
        background: var(--blue);
        cursor: pointer;
        svg {
            color: whitesmoke;
            font-size: 1.4rem;
        }
    }
}

.active {
    transform: translateX(0%);
}

.nav2 {
    display: none;
    list-style-type: none;
    margin: 2.2rem 0;

    @media screen and (max-width: breakpoints.$laptop) {
        display: initial;
        span {
            color: var(--text-color);
            transition: color 200ms ease-in-out;
            cursor: pointer;
            &:hover {
                color: var(--darkBlue);
            }
        }
    }
}
